* {
  box-sizing: border-box;
}

html {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  margin: 0;
}

#events {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin: 3rem auto;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  width: 90%;
  max-width: 40rem;
}

#events h2 {
  font-size: 2rem;
  color: #09246d;
  margin: 0 0 1rem 0;
}


#events p {
  font-size: 1.25rem;
  font-weight: bold;
  border: 1px solid #646464;
  background-color: #646464;
  color: white;
  padding: 0.5rem;
}

#events input {
  font: inherit;
  border: 1px solid #ccc;
}

#events input:focus {
  outline: none;
  border-color: #1b3299;
  background-color: hsl(219, 100%, 93%);
}

#events button {
  font: inherit;
  cursor: pointer;
  border: 1px solid #09246d;
  background-color: #09246d;
  color: white;
  padding: 0.05rem 1rem;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.26);
  border-radius: 3px;
  margin: 0 1rem;
}

#events button:hover,
#events button:active {
  background-color: #051747;
  border-color: #051747;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.26);
}
